// out: common.css, sourcemap: false, compress: false

@import 'variables.less';

body {
    color: @color-bootstrap-black;
    font-family: Helvetica;
    overflow-x: hidden;
    min-height: 100%;
    line-height: 1.5;
    font-size: 18px;
    margin: 0;

    * {
        box-sizing: border-box;
    }
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

section {
    margin-top: @menu-height;
}

/* Main Menu */

.main-menu {
    background-color: @color-white;
    margin-bottom: @menu-height;
    height: @menu-height;
    position: fixed;
    z-index: 100;
    width: 100%;
    left: 0;
    top: 0;

    .shadow3();
}

.main-menu-logo {
    background-image: url(../img/logo.svg);
    background-position-y: center;
    background-position-x: left;
    background-repeat: no-repeat;
    display: inline-block;
    margin-left: 8px;
    cursor: pointer;
    height: 55px;
    width: 160px;
}

.main-menu-links {
    margin-right: 20px;
    line-height: 55px;
    float: right;

    a {
        color: @color-grey-whatisit;
        display: inline-block;
        font-size: 13px;

        &:hover {
            color: @color-bluish-grey;
        }

        &.active {
            color: @color-warm-blue;
            pointer-events: none;
            cursor: default;
        }

        &:not(:first-child) {
            margin-left: 20px;
        }
    }
}

/* Action Buttons */

button {
    outline: none !important;
    letter-spacing: 2px;
    line-height: 14px;
    padding: 7px 20px;
    font-weight: 400;
    font-size: 12px;
    cursor: pointer;
    border: none;
    width: 140px;

    &.cancel {
        background-color: transparent;
        color: @color-warm-blue;
    }

    &.action {
        background-color: @color-warm-blue;
        color: @color-white;
        border-radius: 2px;

        .transition(~'background-color 300ms ' @swift-out ~', box-shadow 300ms ' @swift-out);

        &.marigold {
            background-color: @color-marigold;

            &:not([disabled]):hover {
                background-color: #f4ba00;
            }
        }

        &[disabled] {
            background-color: @color-grey-light-blue;
        }

        &:not([disabled]) {
            .shadow2();

            &:hover {
                background-color: darken(@color-warm-blue, 7%);
                box-shadow: 0 12px 12px 0 rgba(124, 145, 152, 0.24), 0 0 12px 0 rgba(160, 183, 190, 0.24);
            }
        }

        &.action-big {
            font-size: 13px;
            height: 44px;
            width: 250px;
        }
    }
}

/* Headers */

h1, h2 {
    font-weight: bold;
    line-height: 1.1;
    margin: 0;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
}

/* Footer */

@footer-padding: 44px;

footer {
    background-color: @color-footer;
    padding: @footer-padding;
    color: @color-white;
    position: relative;

    h4 {
        color: @color-grey-whatisit;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: normal;
        padding: 0 0 8px 0;
        font-size: 13px;
        margin: 0;
    }
}

footer ul {
    font-size: 16px;
}

footer li {
    padding: 8px 0;
}

footer li:last-child {
    padding-bottom: 0;
}

footer a {
    text-decoration: none !important;
    color: @color-white;
}

footer a:hover {
    text-decoration: underline !important;
}

.footer-block {
    display: inline-block;

    &:not(:first-child) {
        margin-left: @footer-padding;
    }

    &:last-child {
        float: right;
    }
}

.framelink-copyright {
    color: @color-grey-whatisit;
    bottom: @footer-padding;
    right: @footer-padding;
    position: absolute;
    font-size: 13px;
}

@media screen and (max-width: @screen-width-medium) {
    footer {
        padding: 50px 20px;
    }

    .footer-block {
        display: block;

        .icon-twitter {
            margin-right: 10px;
            float: right;
        }

        .icon-facebook {
            float: right;
        }
    }

    .footer-block-icons {
        margin: 30px 0 20px 0;

        .clearfix();
    }

    .footer-block:not(:first-child) {
        margin: 20px 0 0 0;
    }

    .footer-block:last-child {
        float: none;
    }

    .framelink-copyright {
        position: relative;
        bottom: auto;
        right: auto;
    }
}

.icon-startup-lisboa,
.icon-facebook,
.icon-twitter {
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;
    background-size: cover;
    display: inline-block;
    height: 36px;
    width: 36px;
}

.icon-facebook {
    background-image: url(../img/icon-facebook.svg);
}
.icon-twitter {
    background-image: url(../img/icon-twitter.svg);
}
.icon-startup-lisboa {
    background-image: url(../img/startuplisboa_logo2.png);
    background-position-y: -8px;
    margin-right: 10px;
    height: 50px;
    width: 72px;
    float: left;
}

/* Bootstrap Modal Override */

.modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    border-radius: 0;
    border: none;

    * {
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    }

    .modal-header {
      padding: 30px 40px 20px 40px;
      border: none;
    }

    .modal-footer {
      padding: 20px 40px 40px 40px;
      border: none;
    }

    .modal-body {
        font-size: 14px;
        padding: 20px 40px;
        border: none;
    }

    .modal-title {
      font-size: 26px;
    }
}

/* Material Style Input */

.input-material {
    border-bottom: 1px solid @color-grey-darkest;
    -webkit-box-shadow: none;
    background-color: transparent;
    box-shadow: none;
    -webkit-appearance: none;
    border-right: none;
    border-left: none;
    border-top: none;
    border-radius: 0;
    font-size: 16px;
    outline: none;

    .transition(border-color 300ms @swift-out);

    &:focus {
        border-bottom: 1px solid @color-warm-blue;
    }

    &.invalid,
    &.invalid:focus {
        border-bottom: 1px solid @color-red;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 30px @color-white inset !important;
    }

    &.input-wide {
        width: 100%;
    }
}

@media screen and (max-width: @screen-width-small) {
    .main-menu-logo {
        margin-left: 20px;
    }

    .main-menu-links {
        display: none;
    }

    button, button.action.action-big {
        width: 100%;
    }

    .main-menu-hamburger {
        background-image: url(../img/hamburger.svg);
        background-position-y: center;
        background-position-x: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 13px 20px 0 0;
        float: right;
        height: 30px;
        width: 30px;
    }
}
