section {
  padding: 50px 0 0 0;
  text-align: center;
}
h1 {
  margin: 0 44px 20px 44px;
}
.contact-description {
  padding: 0 20px;
}
.contact-description-1 {
  max-width: 640px;
  margin: 0 auto;
}
.contact-description-2 {
  max-width: 640px;
  margin: 0 auto;
}
.form-contact {
  margin: 40px auto;
  width: 500px;
}
.form-contact .action {
  margin: 44px 0;
  width: 200px;
}
.form-contact .form-label:not(:first-child) {
  padding-top: 20px;
}
.form-contact .input-material {
  padding: 3px 1px;
  width: 100%;
}
.form-label {
  letter-spacing: -0.1px;
  font-weight: bold;
  text-align: left;
  font-size: 14px;
}
.form-label.form-label-inline {
  display: inline-block;
}
.contact-message-sent {
  display: none;
}
.aboutus-block-three-image {
  background-image: url('../img/sendemails_min.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  margin: 0 auto;
  height: 350px;
  width: 400px;
}
@media screen and (max-width: 750px) {
  .contact-description-1,
  .contact-description-2 {
    display: inline;
    width: 100%;
  }
}
@media screen and (max-width: 550px) {
  .contact-description {
    text-align: left;
  }
  .contact-description-1,
  .contact-description-2 {
    display: block;
  }
  .form-contact {
    padding: 0 20px;
    width: 100%;
  }
  .contact-message-sent {
    text-align: left;
    padding: 20px;
  }
  h1 {
    margin: 0 20px 20px 20px;
    text-align: left;
  }
}
