/* Homepage Block One */
section {
  max-width: 100vw;
  overflow: hidden;
}
.homepage-main {
  width:100%;
  /*padding: 70px 0 0 0px;*/
  /*display: inline-block;*/
  float:left;
  margin-top:2%;
  margin-left:10%;
}
.homepage-main h1{
  font-size:3.6vw;
}
.homepage-block-one-wrap {
  margin-top: 3.5vw;
  /*margin-left:120px;*/
  height: 360px;
  text-align: center;
  width:80%;
  margin-bottom: 3vw;
}
.homepage-block-one {
  min-width: 1065px;
  /*margin: auto;*/
  text-align: center;
}
/*.homepage-block-one-features {
  min-width: 500px;
  margin: auto;
  border: 3px solid red;
}*/
.homepage-block-one:after {
  display: block;
  content: '';
  clear: both;
}
.homepage-block-one-left {
  /*min-width: 1065px;*/
  /*margin:auto;*/
  float:right;
  margin-right: 20vw;
  text-align: center;
}
@media screen and (max-width: 1065px) {
  .homepage-block-one {
    position: absolute;
    right: 0;
  }
}


.homepage-block-one-text {
  max-width:35vw;
  /*padding: 20px 0 0 20px;*/
  display: inline-block;
  text-align: left;
  float:left;
  margin-top:3.5vw;
  margin-left:0px;
}
.homepage-block-one-text h1{
  font-size:2.6vw;
}
.homepage-block-one-text div {
  font-size:1.4vw;
  margin-top: 0vw;
  margin-left: 0vw;
  /*padding: 10px 0 0 20px;*/
}
.homepage-block-feature-text {
  max-width:35vw;
  display: inline-block;
  text-align: left;
  float:left;
  margin-top:3.0vw;
  margin-left:0px;
}
.homepage-block-feature-text h1{
  font-size:2.0vw;
  margin-top: 0vw;
  margin-left: 2vw;
  /*padding: 10px 0 0 0;*/
}
.homepage-block-feature-text div {
  font-size:1.1vw;
  margin-top: 0vw;
  margin-left: 2vw;
  /*padding: 10px 0 0 0;*/
}
.homepage-video {
  position:relative;
  /*margin-top:0.5vw;*/
  /*margin-left:15vw;*/
  padding-bottom:56.25%;
  padding-top:30px;
  height:0;
  overflow:hidden;
}
.homepage-video iframe,
.homepage-video object,
.homepage-video embed{
  position:absolute;
  top:0;
  left:5vw;
  width:90%;
  height:55%;
}
.homepage-block-center-text {
  text-align: center;
  /*display: inline-block;*/
  width: 80%;
}
.homepage-block-center-text div {
  font-size:1.2vw;
}
/* Homepage Block Two */
.homepage-block-two {
  min-width: 1200px;
  max-width: 1400px;
}
.homepage-block-two:after {
  display: block;
  content: '';
  clear: both;
}
.homepage-block-two-image {
  background-image: url(../img/homepage_img2.jpg);
  background-position-x: -50px;
  background-position-y: -20px;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  height: 550px;
  width: 650px;
  float: right;
}
.homepage-email-image {
  background-image: url(../img/homepage_img2.jpg);
  background-repeat: no-repeat;
  /*width: 400px;
  height: 324px;*/
  width: 27vw;
  height: 19vw;
  background-size: cover;
  margin-top:5px;
  display: inline-block;
  margin-left:5vw;
  float:left;
}
.homepage-email-gif {
  background-image: url(../img/fl_2email_fast_min.gif);
  background-repeat: no-repeat;
  /*width: 400px;
  height: 324px;*/
  width: 39vw;
  height: 24vw;
  background-size: contain;
  margin-top:5px;
  display: inline-block;
  margin-left:-10px;
  float:left;
}
.homepage-singlepoint-image {
  background-image: url(../img/send_email_and_sms_min.png);
  background-repeat: no-repeat;
  width: 21vw;
  height: 18vw;
  background-size: cover;
  margin-top:5px;
  display: inline-block;
  margin-left:60px;
  float:left;
}
.homepage-freedom-image {
  background-image: url(../img/freedom_to_change_min.png);
  background-repeat: no-repeat;
  width: 20vw;
  height: 20vw;
  background-size: cover;
  margin-top:5px;
  display: inline-block;
  margin-left:60px;
  float:left;
}
.homepage-security-image {
  background-image: url(../img/secure_your_data_min.png);
  background-repeat: no-repeat;
  width: 22vw;
  height: 18vw;
  background-size: cover;
  margin-top:-4vw;
  display: inline-block;
  margin-left:8vw;
  /*padding: 1vw 5vw 0 0;*/
  float:left;
}
.homepage-cross-image {
  background-image: url(../img/cross_platform_min.png);
  background-repeat: no-repeat;
  /*width: 450px;*/
  /*height: 320px;*/
  width: 25vw;
  height: 18vw;
  background-size: cover;
  margin-top:20px;
  display: inline-block;
  margin-left:60px;
  float:left;
}
.homepage-block-two-text {
  display: inline-block;
  padding: 90px 0 0 100px;
  width: 500px;
}
.homepage-block-two-text div {
  margin-top: 30px;
}
.homepage-features-title {
  margin-top: 0vw;
  padding-top: 0vw;
  padding-bottom: 1vw;
  /*text-align: center;*/
  font-size: 1.2vw;
}
.homepage-features-title h2 {
  font-size:2.0vw;
  /*padding-bottom: 20px;*/
  margin-top:2.5vw;
}
/* Homepage Block Services */
.homepage-block-services {
  margin-top:0vw;
  padding-bottom: 10px;
  /*text-align: center;*/
  font-size: 1.2vw;
}
.homepage-block-services h2 {
  font-size:2.0vw;
  /*padding-bottom: 20px;*/
  margin-top: 6vw;
}
.homepage-feature-container {
  /*max-width: 860px;*/
  width: 80%;
  /*margin: 0 auto;*/
  /*float:left;*/
  text-align: center;
}
.homepage-feature-block {
  display: inline-block;
  height: 220px;
  width: 320px;
  background-color:#F8F8F8;
}
.homepage-feature-block b {
  margin: -10px 0 4px 0;
  display: block;
  font-size: 1.2vw; 
}
.homepage-feature-block div {
  /*color: #7b8a8f;*/
  color: #565c5e;
  font-size: 1.2vw; 
}

.underline {
  display: inline;
  position: relative;
  overflow: hidden;
  color: #1264A3;
}
.underline:after {
  content: "";
  position: absolute;
  z-index: -1;
  right: 0;
  width: 0;
  bottom: -5px;
  background: #1264A3;
  height: 2px;
  transition-property: width;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.underline:hover:after,
.underline:focus:after,
.underline:active:after {
  left: 0;
  right: auto;
  width: 100%;
}

.responsive{
  width:100%;
  margin-top: 5vw
  height: 50vw;
  padding-bottom:56.25%;
  position:relative;
}
.responsive iframe{
  position:absolute;
  width:100%;
  height:100%;
}
@media screen and (max-width: 770px) {
  .homepage-main {
    margin-left:auto;
  }
  .homepage-main h1{
    font-size:5.6vw;
    text-align: center;
  }
  .homepage-block-one-wrap {
    height: auto;
    width:100%;
    margin-bottom: -15vw;
  }
  .homepage-block-one {
    /*margin-top:10px;*/
    position: relative;
    min-width: auto;
    /*margin-left:4px;*/
    width: 100%;
  }
  .homepage-block-one-text {
      max-width:12vw;
      margin-left: -10vw;
  }
  .homepage-block-one-text h1{
      font-size:6vw;
      width:100%;
  }
  .homepage-block-one-text div {
      font-size:6.0vw;
      width:80vw;
      margin-left: 25vw;
  }
   .homepage-block-one-text a {
      margin-left: 9vw;
  }
  .homepage-block-feature-text {
      max-width:90vw;
  }
  .homepage-block-feature-text h1{
      font-size:6vw;
      width:100%;
  }
  .homepage-block-feature-text div {
      font-size:4.0vw;
      width:80vw;
      margin-left: 7vw;
  }
  .homepage-block-one-text button.action.action-big{
      /*text-align:center;*/
      margin-left: 16vw;
      width:70vw;
  }
  .homepage-block-one .homepage-block-one-image {
    /*background-position-x: -68px;*/
    /*background-position-y: -25px;*/
    /*padding: 1px 2px 0 20px;*/
    /*margin-left: 100px;*/
    float: left;
    margin-top: 50px;
    margin-bottom: 20px;
    /*margin-left: 1px;*/
    /*margin-right: 5px;*/
    margin: auto;
    /*width: 365px;*/
    /*height: 394px;*/
  }
  .homepage-video {
    position:relative;
    /*margin-top:0.5vw;*/
    /*margin-left:-15vw;*/
    padding-bottom:56.25%;
    padding-top:30px;
    height:200vw;
    overflow:hidden;
    margin-left:0vw;
    margin-right:1vw;
  }
  .homepage-video iframe,
  .homepage-video object,
  .homepage-video embed{
    position:absolute;
    top:106vw;
    /*float: left;*/
    left:0vw;
    width:100%;
    height:51%;
  }
  .homepage-block-one-left {
    width: 100%;
    /*margin:auto;*/
    /*float:left;*/
    margin-right: auto;
    text-align: center;
  }
  .homepage-block-two {
    min-width: auto;
  }
  .homepage-block-center-text div{
    font-size:4.0vw;
    margin-top: 3.0vw:;
  }  
  .homepage-email-gif {
    display:none;
  }
  .homepage-block-two .homepage-block-two-text {
    padding: 20px 20px 0 20px;
    width: 100%;
  }
  .homepage-block-center-text {
    padding: 10px 20px 0 20px;
    width: 100%;
    margin-top: 10vw;
  } 
  .homepage-block-two .homepage-block-two-image {
    margin-top: 20px;
    height: 400px;
    width: 460px;
  }
  .homepage-features-title {
    padding: 4.0px 0 10px 0;
  }
  .homepage-features-title h2 {
    padding: 0 20px 30px 20px;
    font-size:5.0vw;
  }
  .homepage-block-services {
    padding: 4.0px 0 10px 0;
  }
  .homepage-block-services h2 {
    padding: 23px 20px 3px 20px;
    font-size:5.0vw;
    /*margin-top: 5vw;*/
  }
  .homepage-block-services .homepage-feature-block {
    height: auto;
    width: 100%;
    font-size:6vw;
  }
  .homepage-feature-container {
    width: 100%;
  }
  .homepage-feature-block {
    height: auto;
    display:inline-block;
    width: 70%;
  }
  .homepage-block-services .homepage-feature-block div {
    padding: 0 20px;
    font-size: 4.2vw;
  }
  .homepage-block-services .homepage-feature-block:not(:last-child) {
    margin-bottom: 20px;
  }
  .homepage-feature-block b {
    /*margin: -10px 0 4px 0;*/
    display: block;
    font-size: 5vw;
  }
  .carousel-container {
    /*visibility:hidden;*/
    /*width: 100%;  full width */
    /*height: 160px;  height of carousel */
    /*margin-right: 10px;*/
  }
}
@media screen and (max-width: 670px) {
  .homepage-email-gif {
    margin-left:1px;
    background-size: 100%;
    width:80%;
    max-width:800px;
    height: 280px;
  }
  .homepage-freedom-image {
    display: none;
  }
  .homepage-security-image {
    display: none;
  }
  .homepage-cross-image {
    display: none;
  }
  .homepage-singlepoint-image {
    display: none;
  }
  .homepage-email-image {
    display: none;
  }
}  
@media (max-width: 810px) and (min-width:660px) {
  .homepage-email-gif {
    margin-left:1px;
    background-size: 100%;
    width:70%;
    max-width:1000px;
    height: 300px;
  }
  .homepage-video iframe,
  .homepage-video object,
  .homepage-video embed{
    position:absolute;
    top:197w;
  }
  .homepage-freedom-image {
    display: none;
  }
  .homepage-security-image {
    display: none;
  }
  .homepage-cross-image {
    display: none;
  }
  .homepage-singlepoint-image {
    display: none;
  }
  .homepage-email-image {
    display: none;
  }
} 
@media (max-width: 1024px) and (min-width:810px) {
  .homepage-email-gif {
    margin-left:1px;
    background-size: 100%;
    width:40%;
    max-width:500px;
    height: 200px;
    display: none;
  }
  .homepage-block-one-text {
    max-width:300px;
    /*padding: 20px 0 0 20px;*/
    /*display: none;*/
    text-align: left;
    float:left;
    margin-top:2vw;
    margin-left:-33vw;
  }
  .homepage-block-one-text h1{
      font-size:6vw;
      width:100%;
  }
  .homepage-block-one-text div {
      font-size:2.5vw;
      width:40vw;
      margin-left: 25vw;
      margin-top: 3vw;
  }
   .homepage-block-one-text a {
      margin-left: 25vw;
  }
  .homepage-block-center-text {
    /*padding: 10px 20px 0 20px;*/
    width: 90%;
    margin-top: 12vw;
    margin-left: -3vw;
    /*margin-right: 2vw:;*/
  }
  .homepage-block-center-text div{
    font-size: 2vw;
    margin-bottom: 5vw;
  }
  .homepage-feature-container {
    width: 80%;
    text-align: center;
    margin-top:-6vw;
  }
  .homepage-feature-block b {
    margin: -10px 0 4px 0;
    display: block;
    font-size: 2vw;
  }
  .homepage-block-one {
    margin-top:0vw;
    position: relative;
    min-width: auto;
    /*margin-left:4px;*/
    width: 80%;
  }
  .homepage-block-one-left {
    min-width: 1065px;
    /*margin:auto;*/
    float:right;
    margin-right: -15vw;
    text-align: center;
  }
  .homepage-block-feature-text {
    max-width: 35vw;
    display: inline-block;
    text-align: left;
    float: left;
    margin-top: 3.0vw;
    margin-right: 3vw;
  }
  .homepage-email-gif {
    background-image: url(../img/fl_2email_fast_min.gif);
    background-repeat: no-repeat;
    /*width: 400px;
    height: 324px;*/
    width: 39vw;
    height: 24vw;
    background-size: contain;
    margin-top:5px;
    display: inline-block;
    margin-left:-10px;
    float:left;
  }
  .zzhomepage-email-gif {
    /*display: none;*/
  }
  .homepage-freedom-image {
    /*display: none;*/
  }
  .homepage-security-image {
    /*display: none;*/
  }
  .homepage-cross-image {
    /*display: none;*/
  }
  .homepage-video {
    position:relative;
    padding-bottom:56.25%;
    padding-top:5px;
    height:85vw;
    overflow:hidden;
    margin-left:-3vw;
    margin-right:-18vw;
  }
  .homepage-video iframe,
  .homepage-video object,
  .homepage-video embed{
    position:absolute;
    top:2vw;
    left:40vw;
    width:50%;
    height:51%;
  }
}  
/*@media (max-width:1400px) and (min-width:1024px) {
  .homepage-block-one-text h1{
    margin-left: 10px;
    font-size:3.6vw;
  }
  .homepage-block-one-text div {
    margin-left: 10px;
    font-size:2vw;
  }
  .homepage-block-one-text .action {
    margin-left: 10px;
  }
  .homepage-block-services h2 {
    font-size:3.6vw;
  }
  .homepage-block-center-text div {
    font-size:2vw;
  }
}*/
[class^='icon-feature-'],
[class*=' icon-feature-'] {
  background-size: cover;
  display: inline-block;
  height: 100px;
  width: 100px;
}
.icon-feature-blockchain {
  background-image: url(../img/icon-feature-blockchain.svg);
}
.icon-feature-create {
  background-image: url(../img/icon-feature-create.svg);
}
.icon-feature-devices {
  background-image: url(../img/icon-feature-devices.svg);
}
.icon-feature-email {
  background-image: url(../img/icon-feature-email.svg);
}
.icon-feature-relate {
  background-image: url(../img/icon-feature-relate.svg);
}
.icon-feature-secure {
  background-image: url(../img/icon-feature-secure.svg);
}
.icon-feature-sms {
  background-image: url(../img/icon-feature-sms.svg);
}
.icon-feature-video-chat {
  background-image: url(../img/icon-feature-video-chat.svg);
}
.icon-guides-overview1 {
  background-image: url(../img/guide_overview1.png);
  /*background-image: url(../img/icon-feature-video-chat.svg);*/
}
