/* Homepage Block One */
section {
  max-width: 100vw;
  overflow: hidden;
}
.homepage-block-one-wrap {
  margin-top: -55px;
  height: 560px;
}
.homepage-block-one {
  min-width: 1065px;
}
.homepage-block-one:after {
  display: block;
  content: '';
  clear: both;
}
@media screen and (max-width: 1065px) {
  .homepage-block-one {
    position: absolute;
    right: 0;
  }
}

.homepage-block-one {
  /*text-align: center;*/
  width: 70%;
  /*display: inline-block;*/
  /*margin:0 auto;*/
  /*text-align:center;*/
  /*margin: 0 auto;*/
  /*margin-left: 10vw;*/
  /*margin-right: 5vw;*/
  /*padding: 1vw 1vw 1vw 8vw;*/
  margin: auto;
}

.homepage-block-one-text {
  max-width:495px;
  padding: 180px 0 0 20px;
  display: inline-block;
  float:left;
  margin-left:20px;
}
.homepage-block-one-text h1{
  font-size:2.6vw;
}
.homepage-block-one-text div {
  font-size:1.2vw;
  margin: 30px 0px;
}
.homepage-block-one-image {
  background-image: url(../img/homepage-2.png);
  background-repeat: no-repeat;
  width: 419px;
  height: 453px;
  /*width: 27.7vw;*/
  /*height: 30vw;*/
  background-size: cover;
  margin-top:80px;
  display: inline-block;
  margin-left:60px;
  /*margin-right: 60px;*/
  /*margin: auto;*/
  float:left;
}
/* Homepage Block Two */
.homepage-block-two {
  min-width: 1200px;
  max-width: 1400px;
}
.homepage-block-two:after {
  display: block;
  content: '';
  clear: both;
}
.homepage-block-two-image {
  background-image: url(../img/homepage_img2.jpg);
  background-position-x: -50px;
  background-position-y: -20px;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  height: 550px;
  width: 650px;
  float: right;
}
.homepage-block-two-text {
  display: inline-block;
  padding: 90px 0 0 100px;
  width: 500px;
}
.homepage-block-two-text div {
  margin-top: 30px;
}
.homepage-block-center-text {
  text-align: center;
  display: inline-block;
  width: 900px;
}
.homepage-block-center-text div {
  font-size:1.2vw;
}
/* Homepage Block Services */
.homepage-block-services {
  padding-bottom: 50px;
  text-align: center;
  font-size: 16px;
}
.homepage-block-services h2 {
  font-size:2.5vw;
  padding-bottom: 20px;
  margin-top:2.5vw;
}
.homepage-feature-container {
  max-width: 860px;
  margin: 0 auto;
}
.homepage-feature-block {
  display: inline-block;
  height: 220px;
  width: 210px;
}
.homepage-feature-block b {
  margin: -10px 0 4px 0;
  display: block;
}
.homepage-feature-block div {
  color: #95a8ae;
}
.responsive{
  width:100%;
  height:0;
  padding-bottom:56.25%;
  position:relative;
}
.responsive iframe{
  position:absolute;
  width:100%;
  height:100%;
}
@media screen and (max-width: 770px) {
  .homepage-block-one-wrap {
    height: auto;
  }
  .homepage-block-one {
    /*margin-top:10px;*/
    position: relative;
    min-width: auto;
    margin-left:4px;
  }
  .homepage-block-one .homepage-block-one-text {
    padding: 80px 1px 0 1px;
    position: relative;
    width: 100%;
  }
  .homepage-block-one-text h1{
      font-size:7vw;
  }
  .homepage-block-one-text div {
      font-size:4.0vw;
      padding: 0 5px 20px 5px;
  }
  .homepage-block-one .homepage-block-one-image {
    /*background-position-x: -68px;*/
    /*background-position-y: -25px;*/
    /*padding: 1px 2px 0 20px;*/
    /*margin-left: 100px;*/
    float: left;
    margin-top: 50px;
    margin-bottom: 20px;
    /*margin-left: 1px;*/
    /*margin-right: 5px;*/
    margin: auto;
    width: 365px;
    height: 394px;
  }
  .homepage-block-two {
    min-width: auto;
  }
  .homepage-block-center-text div{
    font-size:4.0vw;
  }  
  .homepage-block-two .homepage-block-two-text {
    padding: 20px 20px 0 20px;
    width: 100%;
  }
  .homepage-block-center-text {
    padding: 10px 20px 0 20px;
    width: 100%;
  } 
  .homepage-block-two .homepage-block-two-image {
    margin-top: 20px;
    height: 400px;
    width: 460px;
  }
  .homepage-block-services {
    padding: 4.0px 0 10px 0;
  }
  .homepage-block-services h2 {
    padding: 0 20px 30px 20px;
    font-size:6vw;
  }
  .homepage-block-services .homepage-feature-block {
    height: auto;
    width: 100%;
  }
  .homepage-block-services .homepage-feature-block div {
    padding: 0 20px;
  }
  .homepage-block-services .homepage-feature-block:not(:last-child) {
    margin-bottom: 20px;
  }
}
@media (max-width:1400px) and (min-width:1024px) {
  .homepage-block-one-text h1{
    margin-left: 10px;
    font-size:3.6vw;
  }
  .homepage-block-one-text div {
    margin-left: 10px;
    font-size:2vw;
  }
  .homepage-block-one-text .action {
    margin-left: 10px;
  }
  .homepage-block-services h2 {
    font-size:3.6vw;
  }
  .homepage-block-center-text div {
    font-size:2vw;
}
}
[class^='icon-feature-'],
[class*=' icon-feature-'] {
  background-size: cover;
  display: inline-block;
  height: 100px;
  width: 100px;
}
.icon-feature-blockchain {
  background-image: url(../img/icon-feature-blockchain.svg);
}
.icon-feature-create {
  background-image: url(../img/icon-feature-create.svg);
}
.icon-feature-devices {
  background-image: url(../img/icon-feature-devices.svg);
}
.icon-feature-email {
  background-image: url(../img/icon-feature-email.svg);
}
.icon-feature-relate {
  background-image: url(../img/icon-feature-relate.svg);
}
.icon-feature-secure {
  background-image: url(../img/icon-feature-secure.svg);
}
.icon-feature-sms {
  background-image: url(../img/icon-feature-sms.svg);
}
.icon-feature-video-chat {
  background-image: url(../img/icon-feature-video-chat.svg);
}
.icon-guides-overview1 {
  background-image: url(../img/guide_overview1.png);
  /*background-image: url(../img/icon-feature-video-chat.svg);*/
}
