// out: pricing.css, sourcemap: false, compress: false

@import 'variables.less';

.pricing-page {
    text-align: center;
    padding: 20px 0;
}

.pricing-card {
    display: inline-block;
    width: 330px;
}

.pricing-item {
    min-height: 53px;
}

.pricing-item.small {
    margin: 0 0 24px 0;
    min-height: 35px;
}

.pricing-value {
    font-size: 16px;
}

.pricing-label {
    color: @color-grey-whatisit;
    font-weight: normal;
    font-size: 13px;
}

.icon-plan-standart,
.icon-plan-proplus,
.icon-plan-pro {
    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;
    margin-left: -85px;
    height: 110px;
    width: 500px;
}

.icon-plan-standart {
    background-image: url(../img/entity-icon-student.svg);
}

.icon-plan-pro {
    background-image: url(../img/entity-icon-todo.svg);
}

.icon-plan-proplus {
    background-image: url(../img/entity-icon-team.svg);
}

.price-container {
    text-align: center;
    margin-top: -10px;
    width: 100%;

    div {
        display: inline-block;
    }
}

.plan-name {
    letter-spacing: 2px;
    font-size: 13px;
}

.price-currency {
    color: @color-bluish-grey;
    font-family: Times;
    font-size: 20px;
}

.price-period {
    font-size: 16px;
    color: @color-bluish-grey;
}

.price-description {
    color: @color-grey-whatisit;
    margin: -5px 0 16px 0;
    text-align: center;
    font-size: 13px;
}

.plan-description {
    line-height: 1.5;
    padding: 0 30px;
    font-size: 16px;
    color: inherit;
    height: 60px;
    margin: 0;
}

.price-amount {
    font-weight: bold;
    font-size: 36px;
}

.pricing-modal-description {
    margin-top: 25px;
    color: #b3b3b3;

    span {
        color: #999999;
    }
}

@media screen and (max-width: @screen-width-medium-pricing) {
    section {
        padding: 0 !important;
    }
    .pricing-card {
        margin: 0 auto 0 auto;
        padding-top: 50px;
        max-width: 461px;
        display: block;
        width: 100%;
    }

    .pricing-item:not(.pricing-main):not(.small) {
        display: inline-block;
        min-height: 65px;
        width: 150px;
    }

    .pricing-item.small {
        margin-bottom: 30px;
    }

    .icon-plan-standart, .icon-plan-proplus, .icon-plan-pro {
        width: 100%;
        margin: 0;
    }

    .pricing-extras {
        margin: 30px 0 50px 0;

        .pricing-card {
            padding: 0;
        }
    }

    .plan-description {
        margin-bottom: 20px;
        height: auto;
    }
}

@media screen and (max-width: @screen-width-small) {
    section {
        padding: 0 20px !important;
    }

    .pricing-card {
        max-width: 100%;
    }

    .pricing-item:not(.pricing-main):not(.small) {
        width: 160px;
    }
}
