// out: privacy.css, sourcemap: false, compress: false

@import 'variables.less';

section {
    padding: 50px 100px;
}

.main-menu-logo {
    background-image: url(../img/logo.svg);
    background-position-y: center;
    background-position-x: left;
    background-repeat: no-repeat;
    display: inline-block;
    height: 55px;
    width: 160px;
}

section {
    ul {
        padding: 0;

        & > li {
            list-style-type: none;

            &:not(:last-child) {
                margin-bottom: 2em;
            }
        }
    }

    ol > li {
        margin-bottom: 20px;
    }

    ul p,
    ol p {
        font-weight: bold;
        display: block;
        margin: 2em 0;
    }
}

h1 {
    margin: 0;
    font-size: 2.5em;

    span {
        font-weight: normal;
        font-size: 0.6em;
    }
}

h4 {
    font-weight: normal;
    margin: 0 0 2em 0;
    font-size: 1em;
}

@media screen and (max-width: @screen-width-medium) {
    section {
        padding: 50px 20px;

        ol {
            margin-bottom: 10px;
            padding-left: 20px;

            ol {
                padding-left: 10px;
            }
        }
    }
}
